# ------------------------------------------------------------
# This is a requirements file for the Ladies Products Price Sorter project.
# It lists all the dependencies required to run the project.
# ------------------------------------------------------------

# > It includes all the necessary libraries and their versions to run the project smoothly.
#   You can install all the required packages using the following command:
#   pip install -U -r requirements.txt

# > Make sure to create a virtual environment before installing the packages.
#   Create a virtual environment:
#   cd ./backend/
#   python -m venv venv

# > Activate the virtual environment:
#   Windows: venv\Scripts\activate
#   Linux/Mac: source venv/bin/activate

# > For Unauthorized access, use: 
#   Set-ExecutionPolicy Unrestricted -Scope CurrentUser

fastapi==0.104.1
uvicorn==0.23.2
httpx==0.25.0
fake-useragent==1.4.0
lxml==4.9.3
python-dotenv==1.0.0
pydantic==2.5.3
aiohttp==3.9.3
beautifulsoup4==4.12.3